@model List<HavaNokta> 

<h2>Hava Noktaları Listesi</h2>

<table>
    <thead>
    <tr>
        <th>Ülke Kodu</th>
        <th>Ülke Adı</th>
        <th>Şehir Kodu</th>
        <th>Şehir Adı</th>
        <th>Hava Alan Kodu</th>
        <th>Hava Alan Adı</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var nokta in Model)
    {
        <tr>
            <td>@nokta.UlkeKod</td>
            <td>@nokta.UlkeAd</td>
            <td>@nokta.SehirKod</td>
            <td>@nokta.SehirAd</td>
            <td>@nokta.HavaAlanKod</td>
            <td>@nokta.HavaAlanAd</td>
        </tr>
    } 
    </tbody>        
</table>