@using UçakDemo.Models.InternationalSefer
@using Segment = UçakDemo.Models.Sefer.Segment
@model UçakDemo.Services.YurtdisiSeferListesi

<h2>Yurtdışı Seferler</h2>

@if (Model.InternationalSegmentler != null && Model.InternationalSegmentler.Any())
{
    <div class="card-container">
        @foreach (var ucus in Model.InternationalSegmentler.GroupBy(g => g.UcusID))
        {
            var firstSegment = @ucus.FirstOrDefault();
            var lastSegment = @ucus.LastOrDefault();
            var ucret = Model.InternationalSecenekler.FirstOrDefault(s => s.ID == firstSegment.SecenekID);
            <div class="card"style="padding: 20px; min-height: 100px;">
                
                @* <p>TK-VF </p> *@
                <div style="display: flex; align-items: center;">
                    <div style="margin-right: 10px;">
                        <div>@string.Join('-', ucus.Select(segment => segment.HavaYolu))</div>
                    </div>
                    <div style="margin-left: 20px;">
                        <span>@($"{firstSegment?.KalkisTarih:HH:mm}")</span><br/>
                        <strong>@($"{firstSegment?.KalkisSehir} ({firstSegment?.KalkisKod})") </strong>
                    </div>
                    <div style="position: relative; flex-direction: column; margin: 0 20px;align-items: center; justify-content: center;text-align: center; color: gray;">
                        <strong>      </strong>
                        <span>@($"{firstSegment?.UcusSuresi }")dk</span><br/>
                        <strong>-------></strong>
                    </div>
                    <div>
                        <div style="margin-left: 20px;">
                            <span>@($"{lastSegment?.VarisTarih:HH:mm}")</span><br/>
                            <strong>@($"{lastSegment?.VarisSehir} ({lastSegment?.VarisKod})") </strong>
                        </div>
                    </div>
                    <div>
                        <div style="margin-left: 20px;">
                            <span>Kalan @firstSegment?.KalanKoltukSayi Koltuk </span>
                        </div>
                    </div>
                    <div style="margin-left: 40px; border: 2px solid red; padding: 10px; display: inline-block; color: red;cursor: pointer;">
                        <div onclick="validatePrice(@firstSegment?.UcusID, @ucret?.ToplamFiyatE)">
                            <span>@ucret?.ToplamFiyatE TL </span>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
}
else
{
    <p>Sefer bulunamadı.</p>
}
@section Scripts
{
    <script>
        function validatePrice(ucusID,mevcutFiyat){
        $.ajax({
                url: '/Flight/ValidatePrice',
                type: 'POST',
                data: {
                    ucusId: ucusId,
                    mevcutFiyat: mevcutFiyat
                },
                success: function (response) {
                    if (response.isValid) {
                        
                        window.location.href = '/PassengerInfo?ucusID=' + ucusID;
                    } else {
                        alert('Fiyat doğrulama başarısız oldu!');
                    }
                },
                error: function () {
                    alert('Bir hata oluştu!');
                }
            });
        }
    </script>
}