@model UçakDemo.Services.YurticiSeferListesi

<h2>Yurtici Seferler</h2>

@if (Model.Segmentler != null && Model.Segmentler.Any())
{
    <table>
        <thead>
        <tr>
            <th>HavaYolu</th>
            <th>Sefer No</th>
            <th>Kalkış Kod</th>
            <th>Varış Kod</th>
            <th>Kalkış Şehir</th>
            <th>Varış Şehir</th>
            <th>Kalkış Havaalanı</th>
            <th>Varış Havaalanı</th>
            <th>Kalkış Tarih</th>
            <th>Varış Tarih</th>
            <th>Sinif</th>
            <th>Kalan Koltuk Sayi</th>
            <th>Fiyat Paket Tanimi</th>
            <th>Fiyat Paket Anahtari</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var segment in Model.Segmentler)
        {
            <tr>
                <td>@segment.HavaYolu</td>
                <td>@segment.SeferNo</td>
                <td>@segment.KalkisKod</td>
                <td>@segment.VarisKod</td>
                <td>@segment.KalkisSehir</td>
                <td>@segment.VarisSehir</td>
                <td>@segment.KalkisHavaalan</td>
                <td>@segment.VarisHavaalan</td>
                <td>@segment.KalkisTarih.ToString("yyyy.MM.dd ")</td>
                <td>@segment.VarisTarih.ToString("yyyy.MM.dd ")</td>
                <td>@segment.Sinif</td>
                <td>@segment.KalanKoltukSayi</td>
                <td>@segment.FiyatPaketAnahtari</td>
                <td>@segment.FiyatPaketTanimi</td>
            </tr>
        }
        </tbody>
    </table>
}
else
{
    <p>Sefer bulunamadı.</p>
}